<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muta7.muta7" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".user_profile.controllers.activities.UserProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".create_space.controllers.activities.CreateSpaceActivity"
            android:label="@string/create_space_title"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
      
        <activity        
            android:name=".create_space.controllers.activities.GetAddressMap"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".signInAndUp.controllers.activities.SignIn">
        </activity>

        <activity
            android:name=".signInAndUp.controllers.activities.ForgotPassword">
        </activity>

        <activity
            android:name=".navigation.controllers.activities.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">


        </activity>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTh2IjNTGjEcyF38S-mHz9B6v7hhtBJXQ"/>

        <uses-permission android:name="android.permission.INTERNET" />

    </application>

</manifest>